article p {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    margin-bottom: 1rem;
}

article img {
    max-height: 300px;
}

@media screen and (min-width: 768px) {
    article p {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
        margin-bottom: 1.5rem;
    }
}