{{ define "main" }}
<div class="my-8 ml-12 mr-12 md:ml-64 md:mr-48 z-10 relative" style="font-family: 'Quicksand', sans-serif;">
    <h1 class="mb-8 text-4xl md:text-6xl font-bold text-center">{{upper .Title}}</h1>
    <div class="grid grid-flow-row auto-rows-max w-full">
        {{ range .Pages }}
        <div class="md:hover:bg-gray-200 hover:text-red-600 cursor-pointer transition-colors duration-500" onclick="location.href='{{.Permalink}}'">
            <hr class="border-gray-200">
            <div class="py-4 md:px-4">
                <div class="text-l md:text-2xl font-semibold">{{.Title}}</div>
                <div class="text-sm">{{ .Date.Format "02-01-2006" }}</div>
                {{ if .Params.tags }}
                <div class="mt-0.5 text-sm">{{ range .Params.tags }}#{{ . }} {{ end }}</div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        <hr class="border-gray-200">
    </div>
</div>
{{ end }}