{{ define "main" }}
<div class="mt-8 mx-4 lg:ml-56 lg:mr-40 z-10 relative" style="font-family: 'Quicksand', sans-serif;">
    <h1 class="mb-8 text-4xl lg:text-6xl font-bold text-center">{{replace .Title "_" " "}}</h1>
    <div class="grid grid-flow-row auto-rows-max w-full">
        {{ range .Paginator.Pages }}
        <div class="hover:text-red-600 cursor-pointer transition-colors duration-500" onclick="location.href='{{.Permalink}}'">
            <hr class="border-gray-200">
            <div class="py-4 lg:px-4">
                <div class="text-l lg:text-2xl font-semibold">{{.Title}}</div>
                <div class="text-sm">{{ .Date.Format "02-01-2006" }}</div>
                {{ if .Params.tags }}
                <div class="mt-0.5 text-sm">{{ range .Params.tags }}#{{ . }} {{ end }}</div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        <hr class="border-gray-200">
        <div class="flex justify-center select-none">
            <div class="mt-8 mb-4 w-full lg:w-3/5 grid grid grid-flow-col items-stretch gap-x-2">
                <div class="py-1 text-center cursor-pointer hover:text-red-600 transition-colors duration-300">
                    <a class="w-4" href="{{ .Paginator.First.URL }}">&lt;&lt;</a>
                </div>
                <div class="py-1 text-center cursor-pointer hover:text-red-600 transition-colors duration-300">
                    <a href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ end }}">&lt;</a>
                </div>
                {{ $paginator := .Paginator }}
                {{ range .Paginator.Pagers }}
                <div class="py-1 text-center cursor-pointer rounded-full {{ if eq . $paginator }}bg-red-600 text-white {{ else }}hover:text-red-600 transition-colors duration-300{{ end }}">
                    <a href="{{ .URL }}">
                    {{ .PageNumber }}
                    </a>
                </div>
                {{ end }}
                <div class="py-1 text-center cursor-pointer hover:text-red-600 transition-colors duration-300">
                    <a href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ end }}">&gt;</a>
                </div>
                <div class="py-1 text-center cursor-pointer hover:text-red-600 transition-colors duration-300">
                    <a href="{{ .Paginator.Last.URL }}">&gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}