{{ define "main" }}
<div class="my-8 ml-12 mr-16 md:ml-56 md:mr-40 z-10 relative" style="font-family: 'Quicksand', sans-serif;">
  <h1 class="mb-8 mr-2 md:mr-0 text-3xl md:text-6xl font-bold text-center">{{.Title}}</h1>
  {{ if .Params.tags }}
  <div class="text-base md:text-xl">Posted on {{ .Date.Format "02-01-2006" }}</div>
  <div class="mb-4 md:mb-6 text-base md:text-xl">
    {{ range .Params.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="hover:text-red-600 cursor-pointer transition-colors duration-300">#{{ . }}</a>
    {{ end }}
  </div>
  {{ else }}
  <div class="mb-4 md:mb-6 text-base md:text-xl">Posted on {{ .Date.Format "02-01-2006" }}</div>
  {{ end }}
  <article class="text-justify">
    {{ .Content }}
  </article>
</div>
{{ end }}