<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

    <!-- Google Analytics -->
    {{ template "_internal/google_analytics.html" . }}

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- SEO -->
    <meta name="title" content="{{ if .IsHome }}{{ .Site.Params.longTitle }}{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}" />
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
    
    <meta property="og:title" content="{{ if .IsHome }}Hi, I'm Ivan!{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.image }}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ if .IsHome }}Hi, I'm Ivan!{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}">
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.image }}" />

    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicons -->
    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">

    <title>{{ if .IsHome }}{{ .Site.Params.longTitle }}{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}</title>
</head>