<nav>
    <div class="flex justify-between fixed top-0 left-0 right-0">
        <div onclick="goHome()" class="-rotate-90 font-semibold tracking-wider mt-16 -ml-12 text-6xl md:mt-24 md:ml-8 md:text-8xl hover:text-red-600 cursor-pointer" style="font-family: 'Gruppo', cursive;">
            IVAN
        </div>
        <div class="mt-2 mr-2 md:mt-8 md:mr-8">
            <div id="openMenu" onclick="openMenu()" class="hover:text-red-600 cursor-pointer">
                <svg class="h-20 w-20 md:h-32 md:w-32" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>    
            </div>
            <div id="closeMenu" onclick="closeMenu()" class="hover:text-red-600 cursor-pointer hidden">
                <svg class="h-20 w-20 md:h-32 md:w-32" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg> 
            </div>
        </div>
    </div>
    <div id="menu" class="">

    </div>
</nav>

<script>
    function goHome() {
        location.href = "/"
    };

    function openMenu() {
        open = document.getElementById("openMenu");
        open.classList.add("hidden");
        close = document.getElementById("closeMenu");
        close.classList.remove("hidden");
    };

    function closeMenu() {
        open = document.getElementById("openMenu");
        open.classList.remove("hidden");
        close = document.getElementById("closeMenu");
        close.classList.add("hidden");
    };
</script>