<nav>
    <div class="flex justify-between fixed top-0 left-0 right-0">
        <div class="-rotate-90 mt-12 -ml-4 text-6xl md:mt-20 md:ml-8 md:text-8xl" style="font-family: 'Gruppo', cursive;">
            IVAN
        </div>
        <div class="mt-4 mr-4 md:mt-8 md:mr-8">
            <svg class="h-20 w-20 md:h-32 md:w-32" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </div>
    </div>
</nav>