<!DOCTYPE html>
<html>

{{- partial "head.html" . -}}

<body class="bg-slate-800">
    <div class="container mx-auto w-full px-8 sm:px-12 lg:px-16 text-center text-slate-200">
        <div class="content" style="color: black;">        
            <p style="font-size: 25px;margin-bottom: 10px;">TO DO LIST</p>
            <input type="text" id="todo-input" placeholder="Add item" class="todo-input">
            <span onclick="addToDo()" class="addBtn">Add</span>
            <br><br>
            <ul id="list">
                <li id="item">Item 1<span class="close">&#215;</span></li>
                <li id="item">Item 2<span class="close">&#215;</span></li>
            </ul>
        </div>
    </div>

    {{- partial "footer.html" . -}}

</body>

<script>
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }
        
    function addToDo() {
        var li = document.createElement("li");
        li.setAttribute("id","item");
        var inputValue = document.getElementById("todo-input").value;
        var t = document.createTextNode(inputValue);
        li.appendChild(t);
        if (inputValue === '') {
            alert("You must write something!");
        } else {
            document.getElementById("list").appendChild(li);
        }
        document.getElementById("todo-input").value = "";
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }
    };
</script>

</html>