<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body class="h-screen w-screen overflow-hidden">
    {{- partial "nav.html" . -}}
    <div id="404" class="text-4xl text-gray-300 text-justify break-all" style="font-family: 'Montserrat', sans-serif;">
    </div>
    {{- partial "footer.html" . -}}
  </body>
  <script>
    window.onload = () => {
        text = document.getElementById("404")
        displayText = "404 NOT FOUND"
        j = 1
        for (i=0; i<12; i++) {
            displayText = displayText + " " + displayText
            j = j + j
        }
        text.innerText = displayText;
        console.log(j);
    };

  </script>
</html>