<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body class="bg-neutral-900 text-slate-300 w-full overflow-hidden">
    {{- partial "nav.html" . -}}
    <div id="404" class="fixed mt-4 mx-4 lg:ml-56 lg:mr-40 text-2xl lg:text-4xl text-gray-600 text-justify break-all" style="font-family: 'Montserrat', sans-serif;">
    </div>
  </body>
  <script>
    window.onload = () => {
        text = document.getElementById("404")
        glitch = document.createElement("a")
        glitchContent = document.createElement("div")
        glitch.classList.add("glitched");
        glitchContent.innerText = "GO BACK"
        glitch.href = "/"

        glitch.appendChild(glitchContent)
        glitch.appendChild(glitchContent.cloneNode(true))
        glitch.appendChild(glitchContent.cloneNode(true))

        for (i=0; i<43; i++) {
          text.innerHTML += "404 NOT FOUND ".repeat(Math.ceil(Math.random()*13))
          text.appendChild(glitch)
          text.innerHTML += " "
        }
    };
  </script>
</html>