{{ define "main" }}
<div class="grid grid-flow-row auto-rows-max ml-12 mr-12 md:ml-64 md:mr-48 z-10 relative">
    <div class="flex content-center flex-wrap w-full h-screen text-justify" style="font-family: 'Quicksand', sans-serif;">
        <div class="text-md md:text-xl">
            <h1 class="text-2xl md:text-4xl font-bold">Hi, I'm Ivan!</h1>
            <br>
            I'm a maths nerd and tech enthusiast studying at the 
            <a href="https://www.uwa.edu.au/" class="underline hover:text-red-600 transition-colors duration-300">University of Western Australia</a>. 
            I love learning about how and why things work, especially relating to tech and maths, and using them to solve problems. 
            <br><br>
            Read about the things I write when I overthink 
            <a href="/blog" class="underline hover:text-red-600 transition-colors duration-300">here</a>! 
            You can also see the projects I have worked on over at the 
            <a href="/projects" class="underline hover:text-red-600 transition-colors duration-300">projects</a> 
            section.
        </div>
    </div>
    <div style="font-family: 'Quicksand', sans-serif;">
        <h1 class="text-2xl md:text-4xl font-bold">Experience</h1>
        <br>
        <hr class="border-gray-300">
        <br>
        <h2 class="text-l md:text-xl font-bold">Data Science Intern</h2>
        <h3 class="text-md md:text-l italic">Fusionex Group</h3>
        <br>
        <ul class="list-disc text-md md:text-l">
            <li>Performed a case study analysis on video recognition technology</li>
            <li>Developed a working image recognition software using YOLOv5</li>
            <li>Involved in data cleaning and preparation for various projects</li>
            <li>Created and presented data storyboards to project stakeholders</li>
        </ul>
        <br>
        <h2 class="text-l md:text-xl font-bold">Software Developer</h2>
        <h3 class="text-md md:text-l italic">MHNexus Sdn Bhd</h3>
        <br>
        <ul class="list-disc text-md md:text-l">
            <li>Developed middleware data integration solutions for laboratory machines</li>
            <li>Maintained data pipelines for various projects</li>
            <li>Spearheaded the development of mobile applications in the company</li>
            <li>Prepared documentations for software implementations</li>
        </ul>
    </div>
    <br><br>
    <div style="font-family: 'Quicksand', sans-serif;">
        <h1 class="text-2xl md:text-4xl font-bold">Education</h1>
        <br>
        <hr class="border-gray-300">
        <br>
        <h2 class="text-l md:text-xl font-bold">Bachelor of Science</h2>
        <h3 class="text-md md:text-l italic">The University of Western Australia</h3>
        <br>
        <ul class="list-disc text-md md:text-l">
            <li>Major in Data Science</li>
            <li>Major in Mathematics & Statistics</li>
            <li>Grade: 6.8/7.0 CGPA, 84% WAM</li>
        </ul>
        <br>
        <h2 class="text-l md:text-xl font-bold">Diploma in Information & Communications Technology</h2>
        <h3 class="text-md md:text-l italic">Asia Pacific University of Technology and Innovation</h3>
        <br>
        <ul class="list-disc text-md md:text-l">
            <li>Specialism in Data Informatics</li>
            <li>Grade: 3.9/4.0 CGPA</li>
        </ul>
    </div>
</div>
{{ end }}