<footer class="mx-auto mt-10 w-full px-4 sm:px-6 lg:px-8">
    <div class="border-t border-slate-200/10 py-10">
        <div class="flex items-center justify-center space-x-4 text-sm font-bold leading-6 text-slate-500">
            <a href="https://www.linkedin.com/in/ivanpeh/">LinkedIn</a>
            <div class="h-4 w-px bg-slate-400/20"></div>
            <a href="https://github.com/orange-my-cat">Github</a>
        </div>
        <p class="mt-2 text-center text-sm leading-6 text-slate-600">developed by orange-my-cat</p>
    </div>
</footer>