<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

    {{ template "_internal/google_analytics.html" . }}

    <script src="https://cdn.tailwindcss.com"></script>

    {{ if .IsHome -}}
    <title>{{ .Site.Title | emojify }}</title>
    <meta name="title" content="{{ .Site.Params.seotitle | emojify }}" />
    {{- else -}}
    <title>{{ .Title | emojify }} - {{ .Site.Title | emojify }}</title>
    <meta name="title" content="{{ .Title | emojify }} &middot; {{ .Site.Params.seotitle | emojify }}" />
    {{- end }}

    {{ if .Site.Params.description -}}
    <meta name="description" content="{{ .Site.Params.description }}" />
    {{- end }}

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ "logo.png" | relURL}}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "logo.png" | relURL}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "logo.png" | relURL}}">
    <link rel="apple-touch-icon-precomposed" href="{{ "logo.png" | relURL}}">

    <link rel="canonical" href="{{ .Permalink }}">

    <meta property="og:title" content="{{ if .IsHome -}}{{ .Site.Params.seotitle | emojify }}{{- else -}}{{ .Title | emojify }} - {{ .Site.Params.seotitle | emojify }}{{- end }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ if .IsHome -}}{{ .Site.Params.seotitle | emojify }}{{- else -}}{{ .Title | emojify }} - {{ .Site.Params.seotitle | emojify }}{{- end }}" />
    <meta name="twitter:description" content="{{ .Site.Params.description }}" />

    {{ if .Site.Params.image -}}
    <meta name="twitter:image" content="{{ .Site.Params.image }}" />
    <meta property="og:image" content="{{ .Site.Params.image }}" />
    {{- end }}

</head>