<header class="mx-auto mb-10 w-full px-4 sm:px-6 lg:px-8">
    <div class="border-b border-slate-200/10 py-4">
        <div class="grid grid-cols-3 place-content-stretch sm:grid-cols-4">
            <div>
                <a href="/">
                    <img class="object-contain h-12 w-16 sm:h-16 sm:w-20 lg:w-24" src="{{ "logo.png" | relURL}}">
                </a>
            </div>
            <div class="flex items-center col-span-2 justify-end space-x-1 sm:space-x-4 sm:justify-center">
                <form action="/">
                    <button type="submit" class="bg-slate-800 hover:bg-slate-50/10 text-white py-2 px-4 rounded-full">
                        <p class="tracking-widest">HOME</p>
                    </button>
                </form>
                <form action="/blog">
                    <button type="submit" class="bg-slate-800 hover:bg-slate-50/10 text-white py-2 px-4 rounded-full tracking-widest">
                        <p class="tracking-widest">BLOG</p>
                    </button>
                </form>
                <form action="/test">
                    <button type="submit" class="bg-slate-800 hover:bg-slate-50/10 text-white py-2 px-4 rounded-full tracking-widest">
                        <p class="tracking-widest">TEST</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>