<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4T0TFTB785"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-4T0TFTB785');
    </script>

    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Favicons -->
    <link rel="icon" type="image/png"  href="{{ "logo.png" | relURL}}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "logo.png" | relURL}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "logo.png" | relURL}}">
    <link rel="apple-touch-icon-precomposed" href="{{ "logo.png" | relURL}}">

</head>