<!DOCTYPE html>
<html>

{{- partial "head.html" . -}}

<body class="bg-slate-800">
    <div class="container mx-auto w-full px-8 sm:px-12 lg:px-16 text-center text-slate-200">
        <p class="text-[10rem] font-bold">404</p>
        <p class="text-2xl font-bold">PAGE NOT FOUND</p>
        <br>
        <p class="text-2xl">it appears you have ventured into uncharted territory</p>
        <p class="text-2xl">let's <a href="/" class="hover:underline font-bold text-transparent bg-clip-text bg-gradient-to-r from-violet-400/80 to-pink-600/80">go home</a></p>
    </div>

    {{- partial "footer.html" . -}}

</body>

</html>